In [4]:

#Realizar conexion con mysql para cargar datos 
import mysql.connector
from mysql.connector import connect, Error
from sqlalchemy import create_engine
import pymysql #Instalacion necesaria con pip install pymysql

#Credenciales necesarias para la conexion
hostname= "localhost"
username = "root"
pwd = "123456"
database = "juegos"

#Conexion a la base de datos mysql mediante sqlalchemy
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(user = username,pw = pwd, db = database, host = hostname))


#importar librerias de pandas
import pandas as pd
df_juego1 = pd.read_csv("./datasets/games/games.csv")
df_juego1

df_juego1.isnull().sum() #Datos completos y no vacios

df_juego1.to_sql("juego1", engine, if_exists="replace") #Importar los datos a una tabla en la base de datos juegos

50872

In [5]:
df_juego2 = pd.read_csv("./datasets/games/Video_Games.csv")
#df_juego2

df_juego2.isnull().sum() #Existencia de 10 columnas con valores vacios

"""
Nombre de campos con algunos datos vacios
name, year_of_release, genre, publisher, critic_score, critic_count, user_score,
user_count, developer, rating
"""

#Reemplazar valores vacios por el dato "Default game" en la columna Name 
name = df_juego2["Name"]
name.fillna("Default game", inplace=True)


#Reemplazar valores vacios por el promedio de la columna Year_of_Release 
year_release = df_juego2["Year_of_Release"]
#Promedio
year_release_mean = year_release.mean()
year_release.fillna(year_release_mean, inplace=True)


#Reemplazar valores vacios por el valor "PC" en columna Genre
genre = df_juego2["Genre"]
genre.fillna("PC", inplace=True)


#Reemplazar valores vacios por el dato que mas se repite en la columna Publisher 
publisher = df_juego2["Publisher"]
publisher.value_counts() #"Electronic Arts" dato que mas se repite
publisher.fillna("Electronic Arts", inplace=True)


#Reemplazar valores vacios por el promedio de la columna Critic_Score 
critic_score = df_juego2["Critic_Score"]
#Promedio
critic_score_mean = critic_score.mean()
critic_score.fillna(critic_score_mean, inplace=True)


#Reemplazar valores vacios por el promedio de la columna Critic_Count 
critic_count = df_juego2["Critic_Count"]
#Promedio
critic_count_mean = critic_count.mean()
critic_count.fillna(critic_count_mean, inplace=True)


#Reemplazar valores vacios por el segundo dato que mas se repite de la columna User_Score 
user_score = df_juego2["User_Score"]
user_score.value_counts() #Dato que mas se repite "tdb" pero se optama por la elección del segundo dato que mas se repite "7.8"
user_score.fillna(7.8, inplace=True)


#Reemplazar valores vacios por el promedio de la columna User_Count 
user_count = df_juego2["User_Count"]
#Promedio
user_count_mean = user_count.mean()
user_count.fillna(user_count_mean, inplace=True)


#Reemplazar valores vacios por el dato que mas se repite de la columna Developer 
developer = df_juego2["Developer"]
developer.value_counts() #"Ubisoft" es el dato que mas se repite
developer.fillna("Ubisoft", inplace=True)


#Reemplazar valores vacios por el dato que mas se repite de la columna Rating 
rating = df_juego2["Rating"]
rating.value_counts() # "E" dato que mas se repite
rating.fillna("E", inplace=True)


df_juego2.isnull().sum() 

df_juego2.to_sql("juego2", engine, if_exists="replace") #Importar los datos a una tabla en la base de datos juegos

16719

In [6]:
df_juego3 = pd.read_csv("./datasets/games/metacritic_games.csv")

df_juego3.isnull().sum() #Existencia de 4 columnas con algunos valores vacios


#Reemplazo de valores vacios en la columna developer
developer_metacritic = df_juego3["developer"]
developer_metacritic.value_counts() #"Telltale Games" es el dato que mas se repite en esta columna
developer_metacritic.fillna("Telltale Games", inplace=True)


#Reemplazo de valores vacios en la columna genre
genre_metacritic = df_juego3["genre"]
genre_metacritic.value_counts() #"Action" es el dato que mas se repite en esta columna
genre_metacritic.fillna("Action", inplace=True)


#Reemplazo de valores vacios en la columna number_players
number_players_metacritic = df_juego3["number_players"]
number_players_metacritic.value_counts() #"No Online Multiplayer" es el dato que mas se repite en esta columna
number_players_metacritic.fillna("No Online Multiplayer", inplace=True)


#Reemplazo de valores vacios en la columna rating
rating_metacritic = df_juego3["rating"]
rating_metacritic.value_counts() #"T" es el dato que mas se repite en esta columna
rating_metacritic.fillna("T", inplace=True)


df_juego3.isnull().sum() 

df_juego3.to_sql("juego3", engine, if_exists="replace") #Importar los datos a una tabla en la base de datos juegos

5699

In [7]:
#Conexion a la base de datos para extraer las tablas con los datos limpios
import mysql.connector 
from mysql.connector import connect, Error

try:
    conexion = mysql.connector.connect(host="localhost", database= "juegos",
                              user="root", password="123456")
    query1 = "Select * from juego1" #Obtener la tabla "juego1"
    query2 = "Select * from juego2" #Obtener la tabla "juego2"
    query3 = "Select * from juego3" #Obtener la tabla "juego3"
    df_games1 = pd.read_sql(query1, conexion)
    df_games2 = pd.read_sql(query2, conexion)
    df_games3 = pd.read_sql(query3, conexion)

except Exception as e:
    print(e)

C:\Users\benca\AppData\Local\Temp\ipykernel_17548\3553968553.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_games1 = pd.read_sql(query1, conexion)
C:\Users\benca\AppData\Local\Temp\ipykernel_17548\3553968553.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_games2 = pd.read_sql(query2, conexion)
C:\Users\benca\AppData\Local\Temp\ipykernel_17548\3553968553.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_games3 = pd.read_sql(query3, conexion)

In [8]:
#Realizamos la conexión con Mongo DB
import pymongo


# Convertir el DataFrame a una lista de diccionarios
dataset1 = df_games1.to_dict(orient='records')
dataset2 = df_games2.to_dict(orient='records')
dataset3 = df_games3.to_dict(orient='records')


# Conectar con MongoDB
client = pymongo.MongoClient('mongodb+srv://Steven:Steven@cluster0.dm8ijqo.mongodb.net/')

# Seleccionar la base de datos y la colección
db = client.juegos  # Nombre de tu base de datos
tabla = db.datasetjuegos1  # Nombre de tu colección
tabla2 = db.datasetjuegos2  # Nombre de tu colección
tabla3 = db.datasetjuegos3  # Nombre de tu colección


# Insertar los datos en la colección
try:
    resultado = tabla.insert_many(dataset1)
    resultado2 = tabla2.insert_many(dataset2)
    resultado3 = tabla3.insert_many(dataset3)
    print(f'Insertados {len(resultado.inserted_ids)} documentos')
    print(f'Insertados {len(resultado2.inserted_ids)} documentos')
    print(f'Insertados {len(resultado3.inserted_ids)} documentos')
except Exception as e:
    print("Ocurrió un error:", e)

Insertados 50872 documentos
Insertados 16719 documentos
Insertados 5699 documentos