In [1]:
import requests
from bs4 import BeautifulSoup
import pymongo

In [2]:
soup = BeautifulSoup(html_obtenido,'html.parser')
#https://es.wikipedia.org/wiki/Anexo:Pel%C3%ADculas_con_las_mayores_recaudaciones
#Primero obtengo el html
URL = 'https://es.wikipedia.org/wiki/Anexo:Pel%C3%ADculas_con_las_mayores_recaudaciones'
pedido_obtenido= requests.get(URL)
html_obtenido = pedido_obtenido.text

#Segundo parsear el HTML

In [3]:
type(soup)

bs4.BeautifulSoup

In [1]:
import requests
from bs4 import BeautifulSoup

def extraer_datos_fila(fila):
    datos = []
    for celda in fila.find_all('td'):
        # Encuentro todas las etiquetas <span> dentro de la fila etiqueta td y las elimino
        for span in celda.find_all('span'):
            span.decompose()
        # Extraigo el texto de la etiqueta td después de eliminar las etiquetas <span> y su contenido
        texto = celda.get_text(strip=True)
        # Remuevo los caracteres no deseados del html
        texto = texto.replace('\xa0', '').replace('\u2009', '').replace('&','')
        datos.append(texto)
    return datos

listadopeliculas = []

try:
    #extraigo los datos del url y los almaceno en soup
    url = 'https://es.wikipedia.org/wiki/Anexo:Pel%C3%ADculas_con_las_mayores_recaudaciones'
    pedido_obtenido = requests.get(url)
    html_obtenido = pedido_obtenido.text
    soup = BeautifulSoup(html_obtenido, 'html.parser')
    
    #obtengo los datos exclusivamente de la tabla con el classname wikitable
    tabla = soup.find('table', class_='wikitable')
    if tabla:
        #si encuentro la tabla entra al bucle y acciona la funcion extraer datos fila y manda la fila despues retorna los datos fila y los almacena
        for fila in tabla.find_all('tr'):
            datos_fila = extraer_datos_fila(fila)
            if datos_fila:
                listadopeliculas.append(datos_fila)

except Exception as e:
    print(f'Ocurrió un error: {e}')

# Imprimir la lista de películas obtenidas
for pelicula in listadopeliculas:
    print(pelicula)

['Avatar', '2923706026', '785221649 (26,9%)', '2138484377 (73,1%)', '237000000', '20th Century Fox', '2009', 'James Cameron']
['Avengers: Endgame', '2799439100', '858373000 (30,7%)', '1941066100 (69,3%)', '356000000', 'Walt Disney Studios Motion Pictures', '2019', 'Anthony y Joe Russo']
['Avatar: The Way of Water', '2320250281', '684075767 (29,5%)', '1636174514 (70,5%)', '356000000', 'Walt Disney Studios Motion Pictures', '2022', 'James Cameron']
['Titanic', '2264743305', '674292608 (29,8%)', '1590450697 (70,2%)', '200000000', '20th Century Fox/Paramount Pictures', '1997', 'James Cameron']
['Star Wars: Episodio VII - El despertar de la Fuerza', '2071310218', '936662225 (45,2%)', '1134647993 (54,8%)', '306000000', 'Walt Disney Studios Motion Pictures', '2015', 'J. J. Abrams']
['Avengers: Infinity War', '2052415039', '678815482 (33,1%)', '1373599557 (66,9%)', '356000000', 'Walt Disney Studios Motion Pictures', '2018', 'Anthony y Joe Russo']
['Spider-Man: No Way Home', '1921847111', '814115070 (42,4%)', '1107732041 (57,6%)', '200000000', 'Sony Pictures', '2021', 'Jon Watts']
['Jurassic World', '1671537444', '653406625 (39,1%)', '1018130819 (60,9%)', '150000000', 'Universal Pictures', '2015', 'Colin Trevorrow']
['El rey león', '1663075401', '543638043 (32,7%)', '1119437358 (67,3%)', '260000000', 'Walt Disney Studios Motion Pictures', '2019', 'Jon Favreau']
['The Avengers', '1520538536', '623357910 (41%)', '897180626 (59%)', '220000000', 'Walt Disney Studios Motion Pictures', '2012', 'Joss Whedon']
['Furious 7', '1515341399', '353007020 (23,3%)', '1162334379 (76,7%)', '190000000', 'Universal Pictures', '2015', 'James Wan']
['Top Gun: Maverick', '1493491858', '718732821 (48,1%)', '774759037 (51,9%)', '170000000', 'Paramount Pictures', '2022', 'Joseph Kosinski']
['Frozen II', '1453683476', '477373578 (32,8%)', '976309898 (67,2%)', '150000000', 'Walt Disney Studios Motion Pictures', '2019', 'Chris Buck,Jennifer Lee']
['Barbie', '1445638421', '636238421 (44%)', '809400000 (56%)', '145000000', 'Warner Bros.', '2023', 'Greta Gerwig']
['Avengers: Age of Ultron', '1405018048', '459005868 (32,7%)', '946012180 (67,3%)', '250000000', 'Walt Disney Studios Motion Pictures', '2015', 'Joss Whedon']
['Super Mario Bros.: la película', '1361949854', '574934330 (42,2%)', '787015524 (57,8%)', '100000000', 'Universal Pictures', '2023', 'Aaron Horvath,Michael Jelenic']
['Black Panther', '1349926083', '700426566 (51,9%)', '649499517 (48,1%)', '200000000', 'Walt Disney Studios Motion Pictures', '2018', 'Ryan Coogler']
['Harry Potter y las reliquias de la Muerte: parte 2', '1342359942', '381447587 (28,4%)', '960912354 (71,6%)', '250000000', 'Warner Bros.', '2011', 'David Yates']
['Star Wars: Episodio VIII - Los últimos Jedi', '1334407706', '620181382 (46,5%)', '714226324 (53,5%)', '317000000', 'Walt Disney Studios Motion Pictures', '2017', 'Rian Johnson']
['Jurassic World: el reino caído', '1310466296', '417719760 (31,9%)', '892746536 (68,1%)', '170000000', 'Universal Pictures', '2018', 'J. A.Bayona']
['Frozen', '1284540518', '400953009 (31,2%)', '883587509 (68,8%)', '150000000', 'Walt Disney Studios Motion Pictures', '2013', 'Chris Buck,Jennifer Lee']
['La bella y la bestia', '1266115964', '504481165 (39,8%)', '761634799 (60,2%)', '160000000', 'Walt Disney Studios Motion Pictures', '2017', 'Bill Condon']
['Los Increíbles 2', '1243225667', '608581744 (49%)', '634643923 (51%)', '200000000', 'Walt Disney Studios Motion Pictures', '2018', 'Brad Bird']
['The Fate of the Furious', '1236005118', '226008385 (18,3%)', '1009996733 (81,7%)', '250000000', 'Universal Pictures', '2017', 'F. Gary Gray']
['Iron Man 3', '1215577205', '409013994 (33,6%)', '806563211 (66,4%)', '200000000', 'Walt Disney Studios Motion Pictures', '2013', 'Shane Black']
['Minions', '1159444662', '336045770 (29%)', '823398892 (71%)', '74000000', 'Universal Pictures', '2015', 'Pierre Coffin']
['Capitán América: Civil War', '1155046416', '408084349 (35,3%)', '746962067 (64,7%)', '250000000', 'Walt Disney Studios Motion Pictures', '2016', 'Anthony y Joe Russo']
['Aquaman', '1148528393', '335104314 (29,2%)', '813424079 (70,8%)', '160000000', 'Warner Bros.', '2018', 'James Wan']
['El Señor de los Anillos: el retorno del Rey', '1147633833', '379427292 (33,1%)', '768206541 (66,9%)', '94000000', 'New Line Cinema', '2003', 'Peter Jackson']
['Skyfall', '1142471295', '304360277 (26,6%)', '838111018 (73,4%)', '200000000', 'Sony Pictures ReleasingUnited Artists Releasing', '2012', 'Sam Mendes']
['Spider-Man: lejos de casa', '1131927996', '390532085 (34,5%)', '741395911 (65,5%)', '160000000', 'Sony Pictures', '2019', 'Jon Watts']
['Capitana Marvel', '1131416446', '426829839 (37,7%)', '704586607 (62,3%)', '152000000', 'Walt Disney Studios Motion Pictures', '2019', 'Anna Boden,Ryan Fleck']
['Transformers: el lado oscuro de la luna', '1123794079', '352390543 (31,4%)', '771403536 (68,6%)', '195000000', 'Paramount Pictures', '2011', 'Michael Bay']
['The Dark Knight Rises', '1114085030', '448149584 (40,2%)', '665935446 (59,8%)', '230000000', 'Warner Bros.', '2012', 'Christopher Nolan']
['Jurassic Park', '1113138548', '407185075 (36,6%)', '705953473 (63,4%)', '63000000', 'Universal Pictures', '1993', 'Steven Spielberg']
['Transformers: la era de la extinción', '1104054072', '245439076 (22,2%)', '858614996 (77,8%)', '210000000', 'Paramount Pictures', '2014', 'Michael Bay']
['Star Wars: Episodio IX - El ascenso de Skywalker', '1077022372', '515202542 (47,8%)', '561819830 (52,2%)', '275000000', 'Walt Disney Studios Motion Pictures', '2019', 'J. J. Abrams']
['Joker', '1074458282', '335477657 (31,2%)', '738980625 (68,8%)', '55000000', 'Warner Bros.', '2019', 'Todd Phillips']
['Toy Story 4', '1073841394', '434038008 (40,4%)', '639803386 (59,6%)', '200000000', 'Walt Disney Studios Motion Pictures', '2019', 'Josh Cooley']
['Toy Story 3', '1067316101', '415004880 (38,9%)', '652311221 (61,1%)', '200000000', 'Walt Disney Studios Motion Pictures', '2010', 'Lee Unkrich']
["Pirates of the Caribbean: Dead Man's Chest", '1066179747', '423315812 (39,7%)', '642863935 (60,3%)', '225000000', 'Walt Disney Studios Motion Pictures', '2006', 'Gore Verbinski']
['Rogue One: una historia de Star Wars', '1058682142', '533539991 (50,4%)', '525142151 (49,6%)', '200000000', 'Walt Disney Studios Motion Pictures', '2016', 'Gareth Edwards']
['Aladdín', '1054304000', '355559216 (33,7%)', '698744784 (66,3%)', '183000000', 'Walt Disney Studios Motion Pictures', '2019', 'Guy Ritchie']
['Pirates of the Caribbean: On Stranger Tides', '1046721266', '241071802 (23%)', '805649464 (77%)', '250000000', 'Walt Disney Studios Motion Pictures', '2011', 'Rob Marshall']
['Despicable Me 3', '1034800131', '264624300 (25,6%)', '770175831 (744%)', '80000000', 'Universal Pictures', '2017', 'Pierre Coffin,Kyle Balda,Eric Guillon']
['Buscando a Dory', '1029266989', '486295561 (47,2%)', '542971428 (52,8%)', '200000000', 'Walt Disney Studios Motion Pictures', '2016', 'Andrew Stanton,Angus McLane']
['The Dark Knight', '1029266147', '534987076 (52%)', '494279071 (48%)', '185000000', 'Warner Bros.', '2008', 'Christopher Nolan']
['Star Wars: Episodio I - La amenaza fantasma', '1027082707', '474544677 (46,2%)', '552538030 (53,8%)', '115000000', '20th Century Fox', '1999', 'George Lucas']
['Zootopia', '1025521689', '341268248 (33,3%)', '684253441 (66,7%)', '150000000', 'Walt Disney Studios Motion Pictures', '2016', 'Byron Howard,Rich Moore']
['Alicia en el país de las maravillas', '1025468216', '334191110 (33,6%)', '691277106 (67,4%)', '200000000', 'Walt Disney Studios Motion Pictures', '2010', 'Tim Burton']
['Harry Potter y la piedra filosofal', '1023842938', '318886962 (31,1%)', '704955975 (68,9%)', '125000000', 'Warner Bros. Pictures', '2001', 'Chris Columbus']
['El hobbit: un viaje inesperado', '1017030651', '303030651 (29,8%)', '714000000 (70,2%)', '315000000', 'Warner Bros.', '2012', 'Peter Jackson']
['Jurassic World: Dominion', '1003700604', '376851080 (37,6%)', '626849524 (62,4%)', '165000000', 'Universal Pictures', '2022', 'Colin Trevorrow']
['Jumanji: Welcome to the Jungle', '995339117', '404540171 (40,6%)', '590798946 (59,4%)', '90000000', 'Sony Pictures', '2017', 'Jake Kasdan']
['Harry Potter y las reliquias de la Muerte: parte 1', '977070383', '296374621 (30,3%)', '680695761 (69,7%)', '250000000', 'Warner Bros.', '2010', 'David Yates']
['Despicable Me 2', '970766005', '368065385 (37,9%)', '602700620 (62,1%)', '76000000', 'Universal Pictures', '2013', 'Pierre Coffin']
['El rey león', '968511805', '422783777 (43,7%)', '545728028 (60,3%)', '45000000', 'Walt Disney Studios Motion Pictures', '1994', 'Rob Minkoff']
['El libro de la selva', '967724775', '364001123 (37,6%)', '603723652 (62,4%)', '175000000', 'Walt Disney Studios Motion Pictures', '2016', 'Jon Favreau']
['El hobbit: la batalla de los Cinco Ejércitos', '962201338', '255138261 (26,5%)', '707063077 (73,5%)', '250000000', 'Warner Bros.', '2014', 'Peter Jackson']
['Piratas del Caribe: en el fin del mundo', '961691209', '309420425 (32,2%)', '652270784 (67,8%)', '310000000', 'Walt Disney Studios Motion Pictures', '2007', 'Gore Verbinski']
['El hobbit: la desolación de Smaug', '959027992', '258387334 (26,9%)', '700640658 (73,1%)', '225000000', 'Warner Bros.', '2013', 'Peter Jackson']
['Oppenheimer', '957217320', '328858320 (34,4%)', '628359000 (67,6%)', '100000000', 'Universal Pictures', '2023', 'Christopher Nolan']
['Doctor Strange en el multiverso de la locura', '953038430', '411331607 (43%)', '544444197 (57%)', '200000000', 'Walt Disney Studios Motion Pictures', '2022', 'Sam Raimi']
['El Señor de los Anillos: las dos torres', '947944270', '342952511 (36,2%)', '604991759 (63,8%)', '94000000', 'New Line Cinema', '2002', 'Peter Jackson']
['Harry Potter y la Orden del Fénix', '942278045', '292382727 (31%)', '649895317 (69%)', '150000000', 'Warner Bros.', '2007', 'David Yates']
['Buscando a Nemo', '941637960', '380843261 (40,4%)', '560794699 (59,6%)', '94000000', 'Walt Disney Studios Motion Pictures', '2003', 'Andrew Stanton/Lee Unkrich']
['Minions: The Rise of Gru', '939628210', '369695210 (39,3%)', '569933000 (60,7%)', '80000000', 'Universal Pictures', '2022', 'Pierre Coffin']
['Harry Potter y el misterio del príncipe', '934519387', '302334374 (32,4%)', '632185012 (67,6%)', '250000000', 'Warner Bros.', '2009', 'David Yates']
['Shrek 2', '928760770', '441226247 (47,5%)', '487534523 (52,5%)', '150000000', 'DreamWorks', '2004', 'Andrew Adamson/Kelly Asbury/Conrad Vernon']
['Harry Potter y la cámara secreta', '925668380', '262641637 (28,4%)', '663026742 (71,6%)', '100000000', 'Warner Bros.', '2002', 'Chris Columbus']
['Bohemian Rhapsody', '910809311', '216668042 (23,8%)', '694141269 (76,2%)', '52000000', '20th Century Fox', '2018', 'Bryan Singer/Dexter Fletcher']
['The Battle at Lake Changjin', '902548476', '342411 (--%)', '902206065 (100%)', '200000000', 'August First Film Studio', '2021', 'Chen Kaige/Tsui Hark']
['El Señor de los Anillos: la Comunidad del Anillo', '898204420', '316115420 (35,2%)', '582089000 (64,8%)', '93000000', 'New Line Cinema', '2001', 'Peter Jackson']
['Harry Potter y el cáliz de fuego', '896815106', '290469928 (32,4%)', '606345177 (67,6%)', '150000000', 'Warner Bros.', '2005', 'Mike Newell']
['Spider-Man 3', '894983373', '336530303 (37,6%)', '558453070 (62,4%)', '258000000-$350000000', 'Sony Pictures', '2007', 'Sam Raimi']
['The Secret Life of Pets', '894328469', '368384330 (41,2%)', '525944139 (57,9%)', '75000000', 'Universal Pictures', '2016', 'Chris Renaud']
['Ice Age: Dawn of the Dinosaurs', '886686817', '196573705 (22,2%)', '690113112 (77,8%)', '90000000', '20th Century Fox', '2009', 'Carlos Saldhana/Mike Thurmeier']
['Spectre', '880705312', '200074609 (22,7%)', '680630703 (77,3%)', '245000000', 'Sony Pictures', '2015', 'Sam Mendes']
['Spider-Man: Homecoming', '880166924', '334201140 (38%)', '545965784 (62%)', '175000000', 'Sony Pictures', '2017', 'Jon Watts']
['Ice Age: Continental Drift', '877244782', '161321843 (18,4%)', '715922939 (81,6%)', '95000000', '20th Century Fox', '2012', 'Steve Martino/Mike Thurmeier']
['Batman v Superman: Dawn of Justice', '873637528', '330360194 (37,8%)', '543277334 (62,2%)', '250000000', 'Warner Bros.', '2016', 'Zack Snyder']
['Wolf Warrior 2', '870325439', '2721100 (0,3%)', '867604339 (99,7%)', '30100000', 'The H Collective', '2017', 'Wu Jing']
['Inception', '870110523', '292587330 (33.6%)', '544260772 (66.4%)', '160000000', 'Warner Bros.', '2010', 'Christopher Nolan']
['Star Wars: Episodio lll - la venganza de los Sith', '868390560', '380270577 (43,8%)', '488119983 (56,2%)', '113000000', '20th Century Fox', '2005', 'George Lucas']
['Los juegos del hambre: en llamas', '865011746', '424668047 (49,1%)', '440343699 (50,9%)', '130000000', 'Lionsgate', '2013', 'Francis Lawrence']
['Guardianes de la Galaxia vol. 2', '863756051', '389813101 (45,1%)', '473942950 (54,9%)', '200000000', 'Walt Disney Studios Motion Pictures', '2017', 'James Gunn']
['Black Panther: Wakanda Forever', '859208836', '453829060 (52,8%)', '405379776 (47,2%)', '250000000', 'Walt Disney Studios Motion Pictures', '2022', 'Ryan Coogler']
['Inside Out', '858848019', '356921711 (41,6%)', '501926308 (58,4%)', '175000000', 'Walt Disney Studios Motion Pictures', '2015', 'Pete Docter/Ronnie del Carmen']
['Venom', '856085151', '213515506 (24,9%)', '642569645 (75,1%)', '100000000', 'Sony Pictures', '2018', 'Ruben Fleischer']
['Thor: Ragnarok', '855301806', '315058289 (36,8%)', '540243517 (63,2%)', '180000000', 'Walt Disney Studios Motion Pictures', '2017', 'Taika Waititi']
['The Twilight Saga: Breaking Dawn - Part 2', '848593948', '292324737 (34,4%)', '556269948 (65,6%)', '120000000', 'Lionsgate', '2012', 'Bill Condon']
['Guardianes de la Galaxia vol. 3', '845555777', '358995815 (42,5%)', '486559962 (57,5%)', '250000000', 'Walt Disney Studios Motion Pictures', '2023', 'James Gunn']
['Transformers: la venganza de los caídos', '836303693', '402111870 (48,2%)', '434191823 (51,7%)', '200000000', 'Paramount Pictures', '2009', 'Michael Bay']
['Spider-Man', '825025036', '407022860 (49,3%)', '418002176 (50,7%)', '140000000', 'Sony Pictures', '2002', 'Sam Raimi']
['Wonder Woman', '822854286', '412845172 (50,2%)', '410009114 (49,8%)', '149000000', 'Warner Bros.', '2017', 'Patty Jenkins']
['Hi, Mom', '822009764', '—', '822009764 (100%)', '59000000', 'Beijing Jingxi Culture  Tourism Co', '2021', 'Ling Jia']
['Independence Day', '817400891', '306169268 (37,5%)', '511231623 (62,5%)', '75000000', '20th Century Fox', '1996', 'Roland Emmerich']
['Coco', '814337054', '210460015 (25,8%)', '603877039 (74,2%)', '175000000', 'Walt Disney Studios Motion Pictures', '2017', 'Lee Unkrich/Adrián Molina']
['Animales fantásticos y dónde encontrarlos', '814044001', '234037575 (28,7%)', '580006426 (71,3%)', '180000000', 'Warner Bros.', '2016', 'David Yates']
['Shrek Tercero', '813321380', '322719944 (39,7%)', '590647436 (60,3%)', '160000000', 'DreamWorks', '2007', 'Alguien']

In [2]:
#Lectura de la segunda base de datos

import pandas as pd

lectura = pd.read_csv("base_de_datos_2.csv", dtype=str) #con dtype corrijo el error de lectura al momento de tener casillas de tipo cientifica y almaceno todo en tipo string
lectura

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,271616668.0,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2316794914.0,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,724459031.0,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,34200000.0,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,340941958.6,US
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73.0,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...","Annette Bening, Dorothea Fields, Lucas Jade Zu...",20th Century Women,Released,English,7000000.0,9353729.0,US
10174,Delta Force 2: The Colombian Connection,08/24/1990,54.0,Action,When DEA agents are taken captive by a ruthles...,"Chuck Norris, Col. Scott McCoy, Billy Drago, R...",Delta Force 2: The Colombian Connection,Released,English,9145817.8,6698361.0,US
10175,The Russia House,12/21/1990,61.0,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...","Sean Connery, Bartholomew 'Barley' Scott Blair...",The Russia House,Released,English,21800000.0,22997992.0,US
10176,Darkman II: The Return of Durant,07/11/1995,55.0,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,"Larry Drake, Robert G. Durant, Arnold Vosloo, ...",Darkman II: The Return of Durant,Released,English,116000000.0,475661306.0,US
10177,The Swan Princess: A Royal Wedding,07/20/2020,70.0,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,"Nina Herzog, Princess Odette (voice), Yuri Low...",The Swan Princess: A Royal Wedding,Released,English,92400000.0,539401838.6,GB

In [3]:
# Convertir los valores de la columna 'released' a cadenas
lectura['date_x'] = lectura['date_x'].astype(str)


lectura['date_x'] = lectura['date_x'].str.replace('/', '-')  # Reemplaza '/' por '-'

# luego convertimos la columna en datos de tipo fecha
lectura['date_x'] = pd.to_datetime(lectura['date_x'], errors='coerce')

# posterior a ello cambiamos la estructura para que sea la que sqlite permite
lectura['date_x'] = lectura['date_x'].dt.strftime('%Y-%m-%d')
lectura

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,2023-03-02,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,271616668.0,AU
1,Avatar: The Way of Water,2022-12-15,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2316794914.0,AU
2,The Super Mario Bros. Movie,2023-04-05,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,724459031.0,AU
3,Mummies,2023-01-05,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,34200000.0,AU
4,Supercell,2023-03-17,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,340941958.6,US
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,2016-12-28,73.0,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...","Annette Bening, Dorothea Fields, Lucas Jade Zu...",20th Century Women,Released,English,7000000.0,9353729.0,US
10174,Delta Force 2: The Colombian Connection,1990-08-24,54.0,Action,When DEA agents are taken captive by a ruthles...,"Chuck Norris, Col. Scott McCoy, Billy Drago, R...",Delta Force 2: The Colombian Connection,Released,English,9145817.8,6698361.0,US
10175,The Russia House,1990-12-21,61.0,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...","Sean Connery, Bartholomew 'Barley' Scott Blair...",The Russia House,Released,English,21800000.0,22997992.0,US
10176,Darkman II: The Return of Durant,1995-07-11,55.0,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,"Larry Drake, Robert G. Durant, Arnold Vosloo, ...",Darkman II: The Return of Durant,Released,English,116000000.0,475661306.0,US
10177,The Swan Princess: A Royal Wedding,2020-07-20,70.0,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,"Nina Herzog, Princess Odette (voice), Yuri Low...",The Swan Princess: A Royal Wedding,Released,English,92400000.0,539401838.6,GB

In [4]:
lectura.isnull().sum() #Existencia de 2 columnas con valores vacios

names          0
date_x         0
score          0
genre         85
overview       0
crew          56
orig_title     0
status         0
orig_lang      0
budget_x       0
revenue        0
country        0
dtype: int64

In [5]:
#Cambio de datos de las columnas con datos nulos
valores_a_llenar = {'genre': 'Genre-Indefined', 'crew': 'Crew-Indefined'}
lectura.fillna(valores_a_llenar, inplace=True)

In [6]:
lectura.isnull().sum() #Verificamos que ya no existan columnas con datos nulos

names         0
date_x        0
score         0
genre         0
overview      0
crew          0
orig_title    0
status        0
orig_lang     0
budget_x      0
revenue       0
country       0
dtype: int64

In [7]:
#Lectura de la tercera base de datos

import pandas as pd
lectura2 = pd.read_csv("base_de_datos_3.csv", encoding='latin1')
lectura2

,imdbID,title,year,rating,genre,released,director,writer,cast,metacritic,imdbRating,imdbVotes,poster,language,country,lastupdated,type
0,1,Carmencita,1894,NOT RATED,"Documentary, Short",NaN,William K.L. Dickson,NaN,Carmencita,NaN,5.9,1032.0,https://m.media-amazon.com/images/M/MV5BMjAzND...,NaN,USA,03:45.0,movie
1,5,Blacksmith Scene,1893,UNRATED,Short,1893-05-09,William K.L. Dickson,NaN,"Charles Kayser, John Ott",NaN,6.2,1189.0,NaN,NaN,USA,03:50.1,movie
2,3,Pauvre Pierrot,1892,NaN,"Animation, Comedy, Short",1892-10-28,emile Reynaud,NaN,NaN,NaN,6.7,566.0,NaN,NaN,France,06:02.7,movie
3,8,Edison Kinetoscopic Record of a Sneeze,1894,NaN,"Documentary, Short",1894-01-09,William K.L. Dickson,NaN,Fred Ott,NaN,5.9,988.0,NaN,NaN,USA,21:07.1,movie
4,10,Employees Leaving the Lumiere Factory,1895,NaN,"Documentary, Short",1895-03-22,Louis Lumiere,NaN,NaN,NaN,6.9,3469.0,NaN,NaN,France,03:56.6,movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46009,5005684,The New Classmate,2015,NaN,"Drama, Family",10/11/2015,Ashwiny Iyer Tiwari,NaN,"Swara Bhaskar, Ratna Pathak, Pankaj Tripathy",NaN,NaN,NaN,NaN,Hindi,India,28:58.9,movie
46010,5013056,Untitled Christopher Nolan Project,2017,NaN,Sci-Fi,7/21/2017,Christopher Nolan,"Christopher Nolan (screenplay), Christopher Nolan",NaN,NaN,NaN,NaN,NaN,English,"USA, UK",15:04.5,movie
46011,5013980,Die Turnschuh-Giganten,2016,NaN,"Biography, Drama, War",NaN,Oliver Dommenget,Christian Schnalke,"Ken Duken, Florian Bartholomei, Torben Liebrec...",NaN,NaN,NaN,NaN,German,Germany,13:49.0,movie
46012,5016760,The Monster of Mangatiti,2015,NaN,NaN,9/6/2015,NaN,John Banas,"Greta Gregory, Mark Mitchinson, Flynn Allan, H...",NaN,NaN,NaN,NaN,English,New Zealand,47:27.8,movie
46013,5023260,The Last Word,2016,NaN,Comedy,NaN,Mark Pellington,NaN,Amanda Seyfried,NaN,NaN,NaN,NaN,English,USA,27:50.2,movie

In [8]:
# Convertir los valores de la columna 'released' a cadenas
lectura2['released'] = lectura2['released'].astype(str)


lectura2['released'] = lectura2['released'].str.replace('/', '-')  # Reemplaza '/' por '-'

# luego convertimos la columna en datos de tipo fecha
lectura2['released'] = pd.to_datetime(lectura2['released'], errors='coerce')

# posterior a ello cambiamos la estructura para que sea la que sqlite permite
lectura2['released'] = lectura2['released'].dt.strftime('%Y-%m-%d')
lectura2

,imdbID,title,year,rating,genre,released,director,writer,cast,metacritic,imdbRating,imdbVotes,poster,language,country,lastupdated,type
0,1,Carmencita,1894,NOT RATED,"Documentary, Short",NaN,William K.L. Dickson,NaN,Carmencita,NaN,5.9,1032.0,https://m.media-amazon.com/images/M/MV5BMjAzND...,NaN,USA,03:45.0,movie
1,5,Blacksmith Scene,1893,UNRATED,Short,1893-05-09,William K.L. Dickson,NaN,"Charles Kayser, John Ott",NaN,6.2,1189.0,NaN,NaN,USA,03:50.1,movie
2,3,Pauvre Pierrot,1892,NaN,"Animation, Comedy, Short",1892-10-28,emile Reynaud,NaN,NaN,NaN,6.7,566.0,NaN,NaN,France,06:02.7,movie
3,8,Edison Kinetoscopic Record of a Sneeze,1894,NaN,"Documentary, Short",1894-01-09,William K.L. Dickson,NaN,Fred Ott,NaN,5.9,988.0,NaN,NaN,USA,21:07.1,movie
4,10,Employees Leaving the Lumiere Factory,1895,NaN,"Documentary, Short",1895-03-22,Louis Lumiere,NaN,NaN,NaN,6.9,3469.0,NaN,NaN,France,03:56.6,movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46009,5005684,The New Classmate,2015,NaN,"Drama, Family",NaN,Ashwiny Iyer Tiwari,NaN,"Swara Bhaskar, Ratna Pathak, Pankaj Tripathy",NaN,NaN,NaN,NaN,Hindi,India,28:58.9,movie
46010,5013056,Untitled Christopher Nolan Project,2017,NaN,Sci-Fi,NaN,Christopher Nolan,"Christopher Nolan (screenplay), Christopher Nolan",NaN,NaN,NaN,NaN,NaN,English,"USA, UK",15:04.5,movie
46011,5013980,Die Turnschuh-Giganten,2016,NaN,"Biography, Drama, War",NaN,Oliver Dommenget,Christian Schnalke,"Ken Duken, Florian Bartholomei, Torben Liebrec...",NaN,NaN,NaN,NaN,German,Germany,13:49.0,movie
46012,5016760,The Monster of Mangatiti,2015,NaN,NaN,NaN,NaN,John Banas,"Greta Gregory, Mark Mitchinson, Flynn Allan, H...",NaN,NaN,NaN,NaN,English,New Zealand,47:27.8,movie
46013,5023260,The Last Word,2016,NaN,Comedy,NaN,Mark Pellington,NaN,Amanda Seyfried,NaN,NaN,NaN,NaN,English,USA,27:50.2,movie

In [9]:
lectura2.isnull().sum() #Existen varias columnas vacias

imdbID             0
title              0
year               0
rating         21385
genre            399
released       45990
director         605
writer          3072
cast            1086
metacritic     36613
imdbRating      1714
imdbVotes       1715
poster         10216
language        1115
country          184
lastupdated        0
type              38
dtype: int64

In [10]:
#Ver dato que mas se repite en la columna rating

columna = lectura2['rating']
dato_mas_comun = columna.value_counts().head(5)
dato_mas_comun

rating
R            9559
PG-13        3344
PG           2968
APPROVED     2316
NOT RATED    2272
Name: count, dtype: int64

In [11]:
#Ver dato que mas se repite en la columna genre

columna = lectura2['genre']
dato_mas_comun = columna.value_counts().head(5)
dato_mas_comun

genre
Drama             5455
Comedy            3275
Documentary       2047
Comedy, Drama     1643
Drama, Romance    1392
Name: count, dtype: int64

In [12]:
#Ver dato que mas se repite en la columna released

columna = lectura2['released']
dato_mas_comun = columna.value_counts().head(5)
dato_mas_comun

released
1895-03-22    2
1896-01-01    2
1896-06-28    2
1894-05-18    2
1893-05-09    1
Name: count, dtype: int64

In [13]:
#Ver dato que mas se repite en la columna director

columna = lectura2['director']
dato_mas_comun = columna.value_counts().head(5)
dato_mas_comun

director
John Ford           59
Michael Curtiz      56
Georges Melies      56
Alfred Hitchcock    54
Werner Herzog       53
Name: count, dtype: int64

In [14]:
#Ver dato que mas se repite en la columna writer

columna = lectura2['writer']
dato_mas_comun = columna.value_counts().head(5)
dato_mas_comun

writer
Woody Allen                   41
Werner Herzog                 32
Ingmar Bergman                31
William Shakespeare (play)    25
Ki-duk Kim                    22
Name: count, dtype: int64

In [15]:
#Ver dato que mas se repite en la columna cast

columna = lectura2['cast']
dato_mas_comun = columna.value_counts().head(5)
dato_mas_comun

cast
Georges Melies     29
Mel Blanc          20
Charles Chaplin    11
Buster Keaton      11
George Carlin       9
Name: count, dtype: int64

In [16]:
#Calcular el promedio de la columna metacritic

promedio_metacritic = round(lectura2['metacritic'].mean(),2)
promedio_metacritic

56.9

In [17]:
#Calcular el promedio de la columna imdbRating

promedio_imdbRating = round(lectura2['imdbRating'].mean(),2)
promedio_imdbRating

6.38

In [18]:
#Calcular el promedio de la columna imdbVotes

promedio_imdbVotes = round(lectura2['imdbVotes'].mean(),2)
promedio_imdbVotes

11800.55

In [19]:
#Ver dato que mas se repite en la columna poster

columna = lectura2['poster']
dato_mas_comun = columna.value_counts().head(5)
dato_mas_comun

poster
https://m.media-amazon.com/images/M/MV5BMjAwMTA2NTQzOV5BMl5BanBnXkFtZTcwNTg1NTIyMQ@@._V1_SX300.jpg    6
https://m.media-amazon.com/images/M/MV5BMTcwMzI5NjIzOF5BMl5BanBnXkFtZTcwNDYwNDcxMQ@@._V1_SX300.jpg    6
https://m.media-amazon.com/images/M/MV5BOTU5MTUwNTg5N15BMl5BanBnXkFtZTcwOTk0NDIyMQ@@._V1_SX300.jpg    6
https://m.media-amazon.com/images/M/MV5BMTk1NDIxODA2Ml5BMl5BanBnXkFtZTcwMzk4MjAzMQ@@._V1_SX300.jpg    6
https://m.media-amazon.com/images/M/MV5BMTk3NjQ1OTk4M15BMl5BanBnXkFtZTYwMDczNDg5._V1_SX300.jpg        6
Name: count, dtype: int64

In [20]:
#Ver dato que mas se repite en la columna language

columna = lectura2['language']
dato_mas_comun = columna.value_counts().head(5)
dato_mas_comun

language
English     25325
French       1784
Italian      1480
Japanese     1290
Spanish       875
Name: count, dtype: int64

In [106]:
#Ver dato que mas se repite en la columna country

columna = lectura2['country']
dato_mas_comun = columna.value_counts().head(5)
dato_mas_comun

country
USA       20589
UK         2550
France     1683
Japan      1468
Italy      1208
Name: count, dtype: int64

In [21]:
#Ver dato que mas se repite en la columna lastupdated

columna = lectura2['lastupdated']
dato_mas_comun = columna.value_counts().head(5)
dato_mas_comun

lastupdated
00:08.3    10
00:23.8     8
03:16.4     8
02:32.4     8
00:11.9     8
Name: count, dtype: int64

In [22]:
#Ver dato que mas se repite en la columna type

columna = lectura2['type']
dato_mas_comun = columna.value_counts().head(5)
dato_mas_comun

type
movie     45585
series      391
Name: count, dtype: int64

In [23]:
print(lectura2.columns)

Index(['imdbID', 'title', 'year', 'rating', 'genre', 'released', 'director',
       'writer', 'cast', 'metacritic', 'imdbRating', 'imdbVotes', 'poster',
       'language', 'country', 'lastupdated', 'type'],
      dtype='object')

In [24]:
#Cambio de datos de las columnas con datos nulos
valores_a_llenar = {'rating': 'R', 'genre': 'Drama','released':'1895-03-22','director':'John Ford','writer':'Woody Allen','cast':'Georges Melies','metacritic':56.9,'imdbRating':6.38,'imdbVotes':11800.55,'poster':'https://m.media-amazon.com/images/M/MV5BMjAwMTA2NTQzOV5BMl5BanBnXkFtZTcwNTg1NTIyMQ@@._V1_SX300.jpg','language':'English','country':'USA','lastupdated':'00:08.3','type':'movie'}
lectura2.fillna(valores_a_llenar, inplace=True)

In [25]:
lectura2.isnull().sum() #Verificamos que ya no existan columnas con datos vacios

imdbID         0
title          0
year           0
rating         0
genre          0
released       0
director       0
writer         0
cast           0
metacritic     0
imdbRating     0
imdbVotes      0
poster         0
language       0
country        0
lastupdated    0
type           0
dtype: int64

In [26]:
#Creamos el archivo .db para sqlite y establecemos conexion
import sqlite3
conexion = sqlite3.connect('databasepeliculasglobales.db')
cursor= conexion.cursor()

#Creamos la tabla para el primer dataset (webscraping)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS PELICULASDATA1 (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        Nombre_de_película TEXT,
        Recaudacion_mundial TEXT,
        Taquilla_EEUU TEXT,
        Taquilla_fuera_de_EEUU TEXT,
        Presupuesto TEXT,
        Distribuidora TEXT,
        Año_de_estreno TEXT,
        Director TEXT
    )
''')


#Creamos la tabla para el segundo dataset
cursor.execute('''
    CREATE TABLE IF NOT EXISTS PELICULASDATA2 (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        names TEXT,
        date_x DATE,
        Score TEXT,
        genre TEXT,
        overview TEXT,
        crew TEXT,
        orig_title TEXT,
        status TEXT,
        orig_lang TEXT,
        budget_x TEXT,
        revenue TEXT,
        country TEXT
    )
''')


#Creamos la tabla para el segundo dataset
cursor.execute('''
    CREATE TABLE IF NOT EXISTS PELICULASDATA3 (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        imdbID TEXT,
        title TEXT,
        year DATE,
        rating TEXT,
        genre TEXT,
        released DATE,
        director TEXT,
        writer TEXT,
        cast TEXT,
        metacritic TEXT,
        imdbRating TEXT,
        imdbVotes TEXT,
        poster TEXT,
        language TEXT,
        country TEXT,
        lastupdated TEXT,
        type TEXT
    )
''')



conexion.commit()

for peliculas in listadopeliculas:
    cursor.execute('''
        INSERT INTO PELICULASDATA1 (Nombre_de_película, Recaudacion_mundial, Taquilla_EEUU, Taquilla_fuera_de_EEUU, Presupuesto, Distribuidora, Año_de_estreno, Director) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
    ''', (peliculas[0], peliculas[1], peliculas[2], peliculas[3], peliculas[4], peliculas[5], peliculas[6], peliculas[7]))


# Insertar los datos del Dataset2 en la tabla de la base de datos2
lectura.to_sql('PELICULASDATA2', conexion, if_exists='append', index=False)


# Insertar los datos del Dataset3 en la tabla de la base de datos3
lectura2.to_sql('PELICULASDATA3', conexion, if_exists='append', index=False)

conexion.commit()

conexion.close()